.centered{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,50%);
   }
   .centeredSubText{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,50%);
    background-color: brown;
    border-radius: 24px;
    padding: 10px;
    color: white;
   }
 #title{
   margin: 10px;
   font-family: monospace;
   font-size: 36px;
 }

 html{
    padding: 16px;
 }
 .container{
    position: relative;
 }